In [1]:
import pandas as pd

In [2]:
dtest= pd.read_csv('test.csv')
dtest.head()

,Id,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
0,1,28,Travel_Rarely,Research & Development,9,3,Medical,377,4,Male,...,4,1,5,3,5,2,0,4,5,1
1,2,31,Travel_Rarely,Sales,6,4,Medical,653,1,Male,...,4,2,13,4,7,7,5,7,3,1
2,3,37,Travel_Rarely,Research & Development,6,3,Medical,474,3,Male,...,3,2,13,2,7,7,6,7,4,1
3,4,42,Travel_Rarely,Research & Development,1,2,Life Sciences,827,4,Female,...,3,1,8,4,4,3,0,2,5,1
4,5,45,Non-Travel,Research & Development,4,2,Life Sciences,972,3,Male,...,3,0,9,5,9,7,0,8,2,1

In [3]:
dtrain = pd.read_csv('train.csv')
dtrain.head(10)

,Id,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
0,1,30,0,Non-Travel,Research & Development,2,3,Medical,571,3,...,3,0,12,2,11,7,6,7,4,1
1,2,36,0,Travel_Rarely,Research & Development,12,4,Life Sciences,1614,3,...,3,2,7,2,3,2,1,1,2,1
2,3,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,...,3,0,12,3,9,7,7,3,5,1
3,4,39,0,Travel_Rarely,Research & Development,24,1,Life Sciences,2014,1,...,3,0,18,2,7,7,1,7,4,1
4,5,37,0,Travel_Rarely,Research & Development,3,3,Other,689,3,...,3,1,10,2,10,7,7,8,1,1
5,6,31,0,Travel_Rarely,Sales,7,4,Life Sciences,941,2,...,3,0,13,2,7,7,5,2,2,1
6,7,32,1,Travel_Rarely,Research & Development,1,3,Life Sciences,331,4,...,3,0,4,2,3,2,1,2,1,1
7,8,33,0,Travel_Rarely,Research & Development,4,4,Medical,1502,1,...,3,0,8,5,5,4,0,2,5,1
8,9,35,0,Travel_Frequently,Sales,11,2,Marketing,1137,4,...,3,1,5,3,5,2,0,2,4,1
9,10,21,1,Travel_Rarely,Sales,7,1,Marketing,1780,2,...,3,0,1,3,1,0,1,0,5,1

In [4]:
dtest.shape

(470, 28)

In [5]:
dtrain.shape

(1628, 29)

In [6]:
dtrain1= dtrain.drop(['Attrition','Behaviour'],axis=1)
dtrain1.shape

(1628, 27)

In [7]:
dtest= dtest.drop('Behaviour',axis=1)

In [8]:
target = dtrain['Attrition']
target.head()

0    0
1    0
2    1
3    0
4    0
Name: Attrition, dtype: int64

In [9]:
dtrain.isnull().sum()

Id                         0
Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeNumber             0
EnvironmentSatisfaction    0
Gender                     0
JobInvolvement             0
JobRole                    0
JobSatisfaction            0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
OverTime                   0
PercentSalaryHike          0
PerformanceRating          0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
CommunicationSkill         0
Behaviour                  0
dtype: int64

In [10]:
dtest.isnull().sum()

Id                         0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeNumber             0
EnvironmentSatisfaction    0
Gender                     0
JobInvolvement             0
JobRole                    0
JobSatisfaction            0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
OverTime                   0
PercentSalaryHike          0
PerformanceRating          0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
CommunicationSkill         0
dtype: int64

In [11]:
dtrain.dtypes

Id                          int64
Age                         int64
Attrition                   int64
BusinessTravel             object
Department                 object
DistanceFromHome            int64
Education                   int64
EducationField             object
EmployeeNumber              int64
EnvironmentSatisfaction     int64
Gender                     object
JobInvolvement              int64
JobRole                    object
JobSatisfaction             int64
MaritalStatus              object
MonthlyIncome               int64
NumCompaniesWorked          int64
OverTime                   object
PercentSalaryHike           int64
PerformanceRating           int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
CommunicationSkill          int64
Behaviour                   int64
dtype: object

In [12]:
dtest.describe()

,Id,Age,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill
count,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000
mean,235.500000,37.010638,9.293617,2.914894,1033.929787,2.708511,2.736170,2.693617,6584.874468,2.670213,15.148936,3.155319,0.800000,11.387234,2.710638,7.070213,4.238298,2.263830,4.261702,3.051064
std,135.821574,9.166425,8.084506,1.016491,593.994868,1.089850,0.729057,1.138473,4758.485182,2.516421,3.698549,0.362595,0.855435,7.817961,1.261744,5.900505,3.462042,3.272058,3.501693,1.413289
min,1.000000,18.000000,1.000000,1.000000,7.000000,1.000000,1.000000,1.000000,1091.000000,0.000000,11.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,118.250000,31.000000,2.000000,2.000000,491.500000,2.000000,2.000000,2.000000,2964.750000,1.000000,12.000000,3.000000,0.000000,6.000000,2.000000,3.000000,2.000000,0.000000,2.000000,2.000000
50%,235.500000,35.000000,7.000000,3.000000,1042.000000,3.000000,3.000000,3.000000,5038.000000,1.000000,14.000000,3.000000,1.000000,10.000000,3.000000,5.000000,3.000000,1.000000,3.000000,3.000000
75%,352.750000,43.000000,15.000000,4.000000,1537.750000,4.000000,3.000000,4.000000,8362.250000,4.000000,18.000000,3.000000,1.000000,15.000000,3.000000,10.000000,7.000000,3.000000,7.000000,4.000000
max,470.000000,60.000000,29.000000,5.000000,2065.000000,4.000000,4.000000,4.000000,19943.000000,9.000000,25.000000,4.000000,3.000000,40.000000,6.000000,40.000000,17.000000,15.000000,17.000000,5.000000

In [13]:
dtrain.describe()

,Id,Age,Attrition,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
count,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,...,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.0
mean,814.500000,35.645577,0.482187,9.735258,2.884521,1000.985872,2.646192,2.650491,2.639435,5785.524570,...,3.155405,0.692260,9.949017,2.752457,6.092752,3.614865,2.049140,3.551597,3.135749,1.0
std,470.107435,9.481794,0.499836,8.306546,1.020470,585.417694,1.125283,0.736330,1.096272,4339.293147,...,0.362402,0.864808,7.482936,1.288033,5.921168,3.481051,3.138287,3.494369,1.408770,0.0
min,1.000000,18.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1009.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0
25%,407.750000,29.000000,0.000000,2.000000,2.000000,509.250000,2.000000,2.000000,2.000000,2625.000000,...,3.000000,0.000000,5.000000,2.000000,2.000000,1.000000,0.000000,0.000000,2.000000,1.0
50%,814.500000,34.000000,0.000000,8.000000,3.000000,977.000000,3.000000,3.000000,3.000000,4304.000000,...,3.000000,0.000000,8.000000,3.000000,5.000000,2.000000,1.000000,2.000000,3.000000,1.0
75%,1221.250000,42.000000,1.000000,15.000000,4.000000,1494.000000,4.000000,3.000000,4.000000,7124.250000,...,3.000000,1.000000,13.000000,3.000000,8.000000,7.000000,2.000000,7.000000,4.000000,1.0
max,1628.000000,60.000000,1.000000,29.000000,5.000000,2068.000000,4.000000,4.000000,4.000000,19999.000000,...,4.000000,3.000000,38.000000,6.000000,37.000000,18.000000,15.000000,17.000000,5.000000,1.0

In [14]:
dtrain.Attrition.value_counts()

0    843
1    785
Name: Attrition, dtype: int64

In [15]:
# Print all the data types and their unique values 
for column in dtrain.columns:
    if dtrain[column].dtype == object:
        print (str(column) + ':' + str(dtrain[column].unique()))
        print (dtrain[column].value_counts())
        print ('______________________________')

BusinessTravel:['Non-Travel' 'Travel_Rarely' 'Travel_Frequently']
Travel_Rarely        1105
Travel_Frequently     403
Non-Travel            120
Name: BusinessTravel, dtype: int64
______________________________
Department:['Research & Development' 'Sales' 'Human Resources']
Research & Development    979
Sales                     568
Human Resources            81
Name: Department, dtype: int64
______________________________
EducationField:['Medical' 'Life Sciences' 'Other' 'Marketing' 'Technical Degree'
 'Human Resources']
Life Sciences       623
Medical             521
Marketing           197
Technical Degree    162
Other                85
Human Resources      40
Name: EducationField, dtype: int64
______________________________
Gender:['Female' 'Male']
Male      996
Female    632
Name: Gender, dtype: int64
______________________________
JobRole:['Laboratory Technician' 'Manufacturing Director' 'Sales Executive'
 'Research Scientist' 'Sales Representative' 'Healthcare Representative'
 'Research Director' 'Human Resources' 'Manager']
Sales Executive              365
Research Scientist           341
Laboratory Technician        310
Sales Representative         172
Manufacturing Director       121
Healthcare Representative    110
Manager                       90
Human Resources               72
Research Director             47
Name: JobRole, dtype: int64
______________________________
MaritalStatus:['Single' 'Married' 'Divorced']
Married     681
Single      630
Divorced    317
Name: MaritalStatus, dtype: int64
______________________________
OverTime:['No' 'Yes']
No     1000
Yes     628
Name: OverTime, dtype: int64
______________________________

In [16]:
dtrain.corr()

,Id,Age,Attrition,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
Id,1.000000,-0.156452,0.694838,0.072305,-0.035610,-0.038404,-0.100908,-0.127778,-0.105379,-0.178736,...,0.022698,-0.118617,-0.193855,-0.080326,-0.156880,-0.183577,-0.039062,-0.164596,0.083742,NaN
Age,-0.156452,1.000000,-0.200596,0.020658,0.219237,0.024386,0.001950,0.073185,0.037604,0.509210,...,0.002982,0.126257,0.675578,0.004789,0.355438,0.266728,0.222113,0.263792,0.019341,NaN
Attrition,0.694838,-0.200596,1.000000,0.109224,-0.041390,-0.051512,-0.111746,-0.159710,-0.148012,-0.240479,...,0.010202,-0.175496,-0.262922,-0.105663,-0.230061,-0.269408,-0.050379,-0.222752,0.103379,NaN
DistanceFromHome,0.072305,0.020658,0.109224,1.000000,0.023945,0.051568,-0.046390,0.016316,-0.097558,0.012521,...,0.071457,0.029378,0.029289,-0.032038,-0.030392,-0.010607,0.004460,-0.004135,-0.036109,NaN
Education,-0.035610,0.219237,-0.041390,0.023945,1.000000,0.077561,-0.065041,0.083673,-0.036143,0.119907,...,-0.036204,0.042585,0.175662,-0.043272,0.145911,0.076579,0.076430,0.121981,0.000223,NaN
EmployeeNumber,-0.038404,0.024386,-0.051512,0.051568,0.077561,1.000000,0.001229,0.026756,-0.040180,0.021210,...,-0.049489,0.126275,0.032632,-0.008625,0.045468,0.019844,0.018699,0.047598,-0.009926,NaN
EnvironmentSatisfaction,-0.100908,0.001950,-0.111746,-0.046390,-0.065041,0.001229,1.000000,-0.000977,0.035033,-0.033990,...,-0.041427,-0.006479,-0.019005,0.020531,0.000685,0.008028,0.014325,0.002457,-0.011557,NaN
JobInvolvement,-0.127778,0.073185,-0.159710,0.016316,0.083673,0.026756,-0.000977,1.000000,-0.005453,0.005859,...,-0.063512,0.061673,0.037145,-0.027122,-0.008208,0.029460,0.006373,0.062552,0.052877,NaN
JobSatisfaction,-0.105379,0.037604,-0.148012,-0.097558,-0.036143,-0.040180,0.035033,-0.005453,1.000000,0.003255,...,-0.078554,0.024867,0.012892,-0.012757,0.023714,0.036065,0.004439,-0.006131,-0.051464,NaN
MonthlyIncome,-0.178736,0.509210,-0.240479,0.012521,0.119907,0.021210,-0.033990,0.005859,0.003255,1.000000,...,-0.037533,0.012281,0.759658,-0.020173,0.536715,0.418501,0.340080,0.401007,-0.060311,NaN
NumCompaniesWorked,0.008325,0.312099,0.034763,-0.048131,0.091690,0.024558,-0.051681,0.012240,-0.032738,0.169025,...,-0.015765,0.069008,0.226706,-0.043610,-0.099854,-0.081803,-0.046999,-0.116915,0.013289,NaN
PercentSalaryHike,-0.003705,0.034546,-0.012668,0.103452,0.013565,-0.069017,-0.032655,-0.042988,-0.077425,-0.017738,...,0.785024,0.025835,0.006266,0.008500,0.002299,0.029127,-0.036528,0.020399,0.004156,NaN
PerformanceRating,0.022698,0.002982,0.010202,0.071457,-0.036204,-0.049489,-0.041427,-0.063512,-0.078554,-0.037533,...,1.000000,-0.015967,0.007456,-0.008390,0.010464,0.044550,-0.008880,0.038074,0.035701,NaN
StockOptionLevel,-0.118617,0.126257,-0.175496,0.029378,0.042585,0.126275,-0.006479,0.061673,0.024867,0.012281,...,-0.015967,1.000000,0.042878,0.015991,0.016860,0.057380,-0.011862,0.018579,-0.014120,NaN
TotalWorkingYears,-0.193855,0.675578,-0.262922,0.029289,0.175662,0.032632,-0.019005,0.037145,0.012892,0.759658,...,0.007456,0.042878,1.000000,-0.018783,0.667632,0.504922,0.395785,0.515849,-0.010829,NaN
TrainingTimesLastYear,-0.080326,0.004789,-0.105663,-0.032038,-0.043272,-0.008625,0.020531,-0.027122,-0.012757,-0.020173,...,-0.008390,0.015991,-0.018783,1.000000,-0.001098,-0.008939,-0.019341,-0.015937,-0.050569,NaN
YearsAtCompany,-0.156880,0.355438,-0.230061,-0.030392,0.145911,0.045468,0.000685,-0.008208,0.023714,0.536715,...,0.010464,0.016860,0.667632,-0.001098,1.000000,0.771813,0.607823,0.803554,-0.057878,NaN
YearsInCurrentRole,-0.183577,0.266728,-0.269408,-0.010607,0.076579,0.019844,0.008028,0.029460,0.036065,0.418501,...,0.044550,0.057380,0.504922,-0.008939,0.771813,1.000000,0.568734,0.733661,-0.030441,NaN
YearsSinceLastPromotion,-0.039062,0.222113,-0.050379,0.004460,0.076430,0.018699,0.014325,0.006373,0.004439,0.340080,...,-0.008880,-0.011862,0.395785,-0.019341,0.607823,0.568734,1.000000,0.589437,-0.036682,NaN
YearsWithCurrManager,-0.164596,0.263792,-0.222752,-0.004135,0.121981,0.047598,0.002457,0.062552,-0.006131,0.401007,...,0.038074,0.018579,0.515849,-0.015937,0.803554,0.733661,0.589437,1.000000,-0.026457,NaN
CommunicationSkill,0.083742,0.019341,0.103379,-0.036109,0.000223,-0.009926,-0.011557,0.052877,-0.051464,-0.060311,...,0.035701,-0.014120,-0.010829,-0.050569,-0.057878,-0.030441,-0.036682,-0.026457,1.000000,NaN
Behaviour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
plt.figure(figsize=(20,20))
sns.heatmap(dtrain.corr(),annot= True)

C:\Users\Pritesh\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [18]:
from sklearn.preprocessing import LabelEncoder

for column in dtrain1.columns:
    if dtrain1[column].dtype == np.number :
        continue
    dtrain1[column]= LabelEncoder().fit_transform(dtrain1[column])

In [19]:
dtrain1.head(10)

,Id,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill
0,0,12,0,1,1,2,3,288,2,0,...,3,0,0,12,2,11,7,6,7,3
1,1,18,2,1,11,3,1,778,2,0,...,1,0,2,7,2,3,2,1,1,1
2,2,37,2,2,1,0,3,423,2,1,...,5,0,0,12,3,9,7,7,3,4
3,3,21,2,1,23,0,1,971,0,1,...,2,0,0,18,2,7,7,1,7,3
4,4,19,2,1,2,2,4,352,2,1,...,4,0,1,10,2,10,7,7,8,0
5,5,13,2,2,6,3,1,469,1,1,...,4,0,0,13,2,7,7,5,2,1
6,6,14,2,1,0,2,1,166,3,1,...,3,0,0,4,2,3,2,1,2,0
7,7,15,2,1,3,3,3,721,0,0,...,0,0,0,8,5,5,4,0,2,4
8,8,17,1,2,10,1,2,562,3,1,...,0,0,1,5,3,5,2,0,2,3
9,9,3,2,2,6,0,2,863,1,1,...,2,0,0,1,3,1,0,1,0,4

In [20]:
for column in dtest.columns:
    if dtest[column].dtype == np.number :
        continue
    dtest[column]= LabelEncoder().fit_transform(dtest[column])

In [21]:
dtest.head()

,Id,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill
0,0,10,2,1,8,2,3,88,3,1,...,12,1,1,5,3,5,2,0,4,4
1,1,13,2,2,5,3,3,149,0,1,...,11,1,2,13,4,7,7,5,7,2
2,2,19,2,1,5,2,3,115,2,1,...,2,0,2,13,2,7,7,6,7,3
3,3,24,2,1,0,1,1,181,3,0,...,2,0,1,8,4,4,3,0,2,4
4,4,27,0,1,3,1,1,213,2,1,...,1,0,0,9,5,9,7,0,8,1

In [22]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(dtrain1)
X_test = sc_X.transform(dtest)

In [23]:
# using Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()
forest.fit(X_train,target)

C:\Users\Pritesh\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
forest.score(X_train,target)

0.9969287469287469

In [25]:
y_predict=forest.predict(X_test)

In [26]:
y_predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [27]:
rf_probs = forest.predict_proba(X_test)[:,1]

In [28]:
rf_probs

array([0. , 0.1, 0.2, 0.2, 0.2, 0.3, 0.5, 0.1, 0.1, 0. , 0. , 0.2, 0.1,
       0. , 0. , 0. , 0.2, 0.1, 0. , 0. , 0.1, 0.6, 0.1, 0.1, 0. , 0. ,
       0.1, 0.1, 0.6, 0.1, 0.1, 0.4, 0.2, 0.6, 0. , 0.2, 0.2, 0.1, 0.2,
       0.3, 0.8, 0.2, 0.1, 0.2, 0.1, 0.1, 0.2, 0.1, 0. , 0.2, 0.4, 0. ,
       0.1, 0.3, 0.5, 0.2, 0. , 0.4, 0. , 0.2, 0.1, 0.1, 0.5, 0. , 0.1,
       0.2, 0.5, 0. , 0.1, 0.1, 0.3, 0. , 0.2, 0.2, 0.1, 0.2, 0.2, 0.3,
       0.2, 0.6, 0.3, 0.1, 0.4, 0.1, 0.1, 0.3, 0.2, 0. , 0.1, 0.3, 0.2,
       0.1, 0.2, 0.1, 0.6, 0.4, 0.2, 0.2, 0. , 0. , 0.1, 0.1, 0.1, 0.1,
       0.3, 0.1, 0.1, 0.2, 0.1, 0.1, 0.2, 0.3, 0.2, 0.1, 0.3, 0.1, 0. ,
       0. , 0. , 0.2, 0.4, 0.1, 0. , 0.2, 0.6, 0. , 0. , 0.6, 0.3, 0.1,
       0.5, 0.1, 0. , 0.1, 0. , 0.1, 0.9, 0.1, 0.3, 0. , 0.1, 0.1, 0.1,
       0.1, 0.2, 0.5, 0. , 0.4, 0.2, 0.1, 0.2, 0.6, 0.1, 0.7, 0.1, 0. ,
       0. , 0.2, 0. , 0. , 0.4, 0.2, 0.2, 0. , 0.1, 0.3, 0.5, 0.1, 0.1,
       0.1, 0.1, 0. , 0.3, 0.5, 0.1, 0.1, 0.2, 0.3, 0.1, 0.8, 0.6, 0.2,
       0.7, 0.2, 0.4, 0.2, 0. , 0. , 0.2, 0.1, 0.3, 0.1, 0.1, 0.2, 0.6,
       0.3, 0.1, 0. , 0.1, 0. , 0.7, 0. , 0.2, 0.7, 0.2, 0. , 0.2, 0.3,
       0. , 0.5, 0.6, 0.1, 0.2, 0.2, 0.5, 0.3, 0.2, 0.4, 0.2, 0.1, 0.1,
       0.2, 0.1, 0.2, 0.1, 0. , 0. , 0.1, 0.2, 0. , 0.4, 0.2, 0. , 0.2,
       0. , 0. , 0.1, 0. , 0.8, 0.2, 0.1, 0.1, 0.5, 0.3, 0. , 0. , 0.6,
       0.1, 0.1, 0.2, 0.1, 0. , 0. , 0.2, 0.2, 0.6, 0. , 0.3, 0.4, 0.5,
       0.1, 0.2, 0.1, 0.3, 0.1, 0.1, 0.1, 0.2, 0.2, 0. , 0. , 0.3, 0.5,
       0.5, 0.5, 0.2, 0.2, 0.1, 0. , 0.1, 0.6, 0.2, 0.2, 0.1, 0.4, 0.6,
       0. , 0.3, 0.1, 0. , 0.4, 0.1, 0.2, 0.6, 0.1, 0.3, 0.1, 0.2, 0.4,
       0. , 0.2, 0. , 0.2, 0.4, 0. , 0. , 0.3, 0.1, 0.4, 0.1, 0. , 0.3,
       0.2, 0. , 0. , 0.5, 0.6, 0.1, 0. , 0.3, 0.1, 0.2, 0. , 0.2, 0.3,
       0. , 0.5, 0.3, 0.4, 0.5, 0. , 0. , 0.1, 0.2, 0.2, 0.1, 0.1, 0. ,
       0.1, 0.3, 0.1, 0.7, 0. , 0.2, 0.3, 0.1, 0. , 0. , 0. , 0.1, 0. ,
       0. , 0.5, 0.4, 0. , 0.1, 0.6, 0.1, 0.3, 0.3, 0. , 0.3, 0.1, 0.2,
       0.5, 0.2, 0.1, 0. , 0.2, 0.3, 0. , 0.1, 0.1, 0.3, 0.2, 0. , 0.4,
       0.2, 0.1, 0.1, 0.2, 0.1, 0. , 0.1, 0.4, 0.5, 0.3, 0.4, 0.2, 0.4,
       0.1, 0. , 0.2, 0. , 0.1, 0.2, 0.5, 0. , 0.1, 0.1, 0.1, 0.1, 0.4,
       0.1, 0.2, 0.1, 0.1, 0.5, 0.3, 0. , 0.3, 0. , 0. , 0.2, 0.1, 0. ,
       0.4, 0.3, 0.1, 0. , 0.3, 0.1, 0.1, 0.1, 0.3, 0. , 0.1, 0. , 0.3,
       0.3, 0.1, 0.1, 0. , 0.2, 0. , 0. , 0.1, 0.1, 0. , 0. , 0. , 0.1,
       0.2, 0. , 0.3, 0.1, 0. , 0.5, 0.1, 0.1, 0. , 0. , 0.9, 0. , 0.2,
       0. , 0.3, 0.4, 0.6, 0. , 0. , 0.1, 0.6, 0.2, 0.5, 0.5, 0.4, 0.5,
       0.2, 0.1])

In [29]:
from sklearn.metrics import roc_auc_score
roc_value = roc_auc_score(y_predict, rf_probs)

In [30]:
roc_value

1.0

In [31]:
import csv
rf_probs;
ID_count = 0
with open('submission8.csv','w',newline='') as csvfile:
    fieldnames=['ID','Attrition']
    thewriter = csv.DictWriter(csvfile,fieldnames=fieldnames)
    thewriter.writeheader()
    for rf in rf_probs:
        ID_count+=1
        thewriter.writerow({'ID':ID_count,'Attrition':rf})