In [5]:
import pandas as pd
import numpy as np

In [10]:
testset=pd.read_csv('test.csv')
trainset=pd.read_csv('train.csv')
ss=pd.read_csv('Sample_submission.csv')

testset = testset.drop('EmployeeNumber', axis = 1)
trainset = trainset.drop('EmployeeNumber', axis = 1)
trainset.head(20)

from sklearn.preprocessing import LabelEncoder

for column in testset.columns:
        if testset[column].dtype == np.number:
            continue
        testset[column] = LabelEncoder().fit_transform(testset[column])
for column in trainset.columns:
        if trainset[column].dtype == np.number:
            continue
        trainset[column] = LabelEncoder().fit_transform(trainset[column])

In [11]:
xtest=testset
ytrain=trainset['Attrition']
xtrain=trainset.drop('Attrition',axis = 1)
from sklearn.linear_model import LogisticRegression  
Lr=LogisticRegression(solver='lbfgs',max_iter=5000,C=0.5,penalty='l2',random_state=1)
Lr.fit(xtrain,ytrain)
a=Lr.predict_proba(xtest)
b=a[:,1]
ss=ss.drop('Attrition',axis=1)
ss['Attrition']=b
ss.to_csv('submissionnewest.csv',index=False)

In [14]:
object_cols = [col for col in trainset.columns if trainset[col].dtype == "object"]

In [15]:
df = pd.get_dummies(trainset, prefix_sep=" ",columns=object_cols)

,Id,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
0,0,12,0,0,1,1,2,3,2,0,...,0,0,12,2,11,7,6,7,3,0
1,1,18,0,2,1,11,3,1,2,0,...,0,2,7,2,3,2,1,1,1,0
2,2,37,1,2,2,1,0,3,2,1,...,0,0,12,3,9,7,7,3,4,0
3,3,21,0,2,1,23,0,1,0,1,...,0,0,18,2,7,7,1,7,3,0
4,4,19,0,2,1,2,2,4,2,1,...,0,1,10,2,10,7,7,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,1623,24,1,1,1,18,2,3,2,1,...,0,0,7,2,2,2,2,2,2,0
1624,1624,37,1,2,2,1,0,3,2,1,...,0,0,12,3,9,7,7,3,4,0
1625,1625,7,1,2,2,8,1,1,0,1,...,0,0,6,2,3,2,2,2,4,0
1626,1626,11,1,2,0,12,2,0,0,1,...,0,3,4,3,2,2,2,0,4,0
1627,1627,11,1,2,1,17,0,3,2,1,...,0,0,4,3,4,3,0,1,1,0